logs
target
node_modules
/.classpath
/.project
/.settings
/.bloop
/.metals
/project/metals.sbt
/public/javascript
/RUNNING_PID
.DS_Store

# packages
coverage
.nyc_output
dist
compiled
.awcache
.rpt2_cache
docs

# IDE
.vscode
.idea
.idea_modules


