/* Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin. */
* {
  margin: 0;
}

/* Allow percentage-based heights in the application. */
html, body {
  height: 100%;
}

/* Improve text rendering. */
body {
  -webkit-font-smoothing: antialiased;
}

/* Avoid text overflows. */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Ensure headings are the correct font – EUI does not have a separate font for headings. */
h1, h2, h3, h4, h5, h6 {
  font-family: "Guardian Egyptian Text";
}
