@import helper._

@import com.gu.typerighter.model.CheckerRule
@import com.gu.typerighter.model.RegexRule
@import com.gu.typerighter.model.LTRule
@import utils.Matcher

@import com.gu.typerighter.model.LTRuleXML
@(sheetId: String, rules: scala.List[CheckerRule], matchers: scala.List[Matcher], ruleManagerUrl: String,
rulesIngested: Option[Int] = None, errors: List[String] = List.empty)(implicit req: RequestHeader)
@main(title = "Typerighter", breadcrumbsList = List("Rules")) {
    <h1 class="align-middle mb-4">
        Current rules
    </h1>
  <div class="pb-3">
      <aside >Looking for the refresh button? It's moved <a href="@ruleManagerUrl" target="_blank">here</a></aside>
  </div>
    <div class="row">
        <div class="col-sm-5">
            <h5>Matchers (@matchers.size)</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Rule count</th>
                    </tr>
                </thead>
                <tbody>
                @for(matcher <- matchers) {
                    <tr>
                        <td>
                        @matcher.getType()
                        </td>
                        <td>@matcher.getCategories().map(_.id).mkString(", ")</td>
                        <td>@matcher.getRules().size</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-sm-7">
            <h5>Rules (@rules.length)</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">ID</th>
                        <th scope="col">Category</th>
                        <th scope="col">Match</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                @for(rule <- rules) {
                    <tr>
                        <td>@rule match {
                            case r: RegexRule => { regex }
                            case r: LTRule => { languagetool }
                            case _ => { unknown }
                        }
                        </td>
                        <td>
                        @rule.id
                        </td>
                        <td>
                        @rule.category.name
                        </td>
                        <td>@rule match {
                            case r: RegexRule => { @r.regex.toString.slice(0, 30) }
                            case _ => { N/A }
                        }</td>
                        <td>
                        @rule match {
                            case p: RegexRule if p.description.nonEmpty => { @p.description }
                            case p: LTRuleXML if p.description.nonEmpty => { @p.description }
                            case _ => { N/A }
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
