@import helper._

@import com.gu.typerighter.model.CheckerRule
@import com.gu.typerighter.model.RegexRule
@import com.gu.typerighter.model.LTRule
@import utils.Matcher

@import com.gu.typerighter.model.LTRuleXML
@(sheetId: String, rules: scala.List[CheckerRule], matchers: scala.List[Matcher], ruleManagerUrl: String,
rulesIngested: Option[Int] = None, errors: List[String] = List.empty, maybeTelemetryUrl: Option[String])(implicit req: RequestHeader)
@main(title = "Typerighter", breadcrumbsList = List("Rules"), maybeTelemetryUrl = maybeTelemetryUrl) {
    <h1 class="align-middle mb-4">
        Current rules
    </h1>
  <div class="pb-3">
      <aside >Looking for the refresh button? It's moved <a href="@ruleManagerUrl" target="_blank">here</a></aside>
  </div>
    <div class="row">
        <div class="col-sm-5">
            <h5>Matchers (@matchers.size)</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Rule count</th>
                    </tr>
                </thead>
                <tbody>
                @for(matcher <- matchers.sortBy(0 - _.getRules().size)) {
                    <tr>
                        <td>
                        @matcher.getType()
                        </td>
                        <td>@matcher.getCategories().map(_.id).mkString(", ")</td>
                        <td>@(java.text.NumberFormat.getIntegerInstance.format(matcher.getRules().size))</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
