@import model.BaseRule
@import model.Category
@import helper._

@(sheetId: String, rules: scala.List[BaseRule], categories: scala.List[(String, Category)], rulesIngested: Option[Int] = None, errors: List[String] = List.empty)(implicit req: RequestHeader)
@main(title = "Typerighter", breadcrumbsList = List("Rules")) {
    @form(routes.RulesController.refresh()) {
        <h1 class="align-middle">
            Current rules
            <button class="btn btn-primary btn-sm ml-3">Refresh rules</button>
        </h1>
    }
    @if(rulesIngested.nonEmpty) {
        <div class="alert alert-@if(errors != Nil) {danger} else {success}" role="alert">
            @rulesIngested rules added. @if(errors != Nil) {Errors found: @errors.size}
            @for(error <- errors) {
                <p>@error</p>
            }
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-sm-5">
            <h5>Categories (@categories.size)</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Name</th>
                        <th scope="col">Handler</th>
                    </tr>
                </thead>
                <tbody>
                @for((handler, category) <- categories) {
                    <tr>
                        <td>@category.name</td>
                        <td>
                            <span class="badge" style="background-color: #@category.colour;
                                color: white">
                                #@category.colour
                            </span>
                        </td>
                        <td>@category.name</td>
                        <td>@handler</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-sm-7">
            <h5>Rules (@rules.length)</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                @for(rule <- rules) {
                    <tr>
                        <td>@rule.category.name</td>
                        <td>
                            <span class="badge" style="background-color: #@rule.category.colour; color: white">
                                #@rule.category.colour
                            </span>
                        </td>
                        <td>@if(rule.description.nonEmpty) {
                            @rule.description
                        } else { No&nbsp;description }</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}